h2{
	color: white !important;

}

.menu-item{
	margin-left: 2%;
}

/*--------Banner "hero image"-----*/

.bggif{
	background: url(../img/shbg.png) no-repeat center center fixed;
  	background-size: cover;
}

.bgcntnt{
	color: white;
	margin-top: 25px;
	font-size: 30px;
	margin-bottom: 50px;
}


#gmap{
	height: 75%;
    width: 90%;
    margin-top: 10%;
}


.mncntnt{
	padding-top: 2%;
	padding-bottom: 2%;
}



.evnts{
	padding-top: 40px;
	background: linear-gradient(to bottom, #303135 30%, #FFF 30%);
	color: white;
}

.evnts h1{
	color: white !important;
}

/*--------slider-----*/

#slides{
	position: relative;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
}

.showing{
	opacity: 1;
	z-index: 2;
}

.imgsld{
	height:500px;
	margin-bottom:10%;
}

/*--footer--*/

.footer{
	margin-top: 40%;
	background-color: black !important;
	color: white !important;
}

.icon{
	margin: 10px;
}
