.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ED1D2E;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.navbar{
	background-color: black !important;
}

li a{
	text-decoration: none;
	color: white;
}

li a:hover{
	color:  #ED1D2E;
}

.button.is-danger{
	background-color: #ED1D2E !important;
}

.navbar-brand{
	margin-left: 20px;
	width: 80px;
	height: auto;
}

.column{
	padding: 0 !important;
	margin: 0 !important;
}

.columns{
	padding: 0 !important;
	margin: 0 !important;
}

.tri{
	    width: 100%;
	    height: 100%;
	}

.duo{
	width: 100%;
	max-height: 505px;
	display: block;
}

.duo:hover {
	opacity: 0.75;
}

.menu-item {
	margin-left: 15px;
}

.marg{
	margin-top: 25%;
}
/*--------Banner "hero image"-----*/

.bggif{
	background: url(../img/.png) no-repeat center center fixed;
  	background-size: cover;
}

.bgcntnt{
	color: white;
	margin-top: 25px;
	font-size: 30px;
	margin-bottom: 50px;
}


#gmap{
	height: 75%;
    width: 90%;
    margin-top: 10%;
}


.mncntnt{
	padding-top: 2%;
	padding-bottom: 2%;
}



.evnts{
	padding-top: 40px;
	background: linear-gradient(to bottom, #303135 30%, #FFF 30%);
	color: white;
}

.evnts h1{
	color: white !important;
}

/*--------slider-----*/


//Ends Here

#slides{
	position: relative;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
}

.showing{
	opacity: 1;
	z-index: 2;
}

.imgsld{
	height:500px;
	margin-bottom:10%;
}

/*--footer

.footer{
	margin-top: 40%;
	background-color: black !important;
	color: white !important;
}
--*/
.footer{
	background-color: black !important;
}
.icon{
	margin: 10px;
	color: white;
}

#address{
  color: white;
  font-size:20pt;
  margin: 0;
}
